.title_nav_list {
	list-style-type: none;
	display: flex;
}

.title_nav_item::before {
	content: "/";
	margin: 0 3px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #636363;
}
.title_nav_item:first-child::before {
	display: none;
}
.title_nav_link {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #636363;
	text-transform: uppercase;
	transition: all 0.3s;
	@include a_properties_reset;

	&[href]:hover {
		text-decoration: underline;
		color: $main_style_color;
		// transition: 0.3s;
	}
}
.current_link {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: $main_style_color;

	&::before {
		color: #636363;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}
}
