.pagination {
	//width: 284px;
	display: inline-block;
	margin: 0 auto;
	padding: 16px 0;
	border-radius: 2px;
	border: 1px solid #ebebeb;
	margin-bottom: 97px;
}
.pagination_list {
	@include list_style();
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 0 15px;
	align-items: center;
}

.pagination_item {
	font-weight: 300;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #c4c4c4;
}
.pagination_item:nth-child(7) {
	margin-right: -7px;
}
.pagination_item:nth-child(9) {
	margin-left: -7px;
}

.page_number {
	@include a_properties_reset;
	transition: 0.3s;
}
.pagination_chevron {
	@include btn_properties_reset();
	color: black;
	font-size: 19px;
}
.page_number:hover {
	color: $main_style_color;

	// font-weight: bold;
}
.active_page {
	color: $main_style_color;
	// font-weight: bold;
}
.number_dots {
	margin: 0 -20px;
}
