.title {
	background-color: #f8f3f4;
	//margin-bottom: 50px;
}
.title_conteiner {
	padding: 60px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title_heading {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: $main_style_color;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}